*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.btn{
    background-color: #804BEF;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

.centered{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
}

.centered button{
    margin: 15px;
    transform: scale(1.3);
}

.container{
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
}

.container h2{
    font-weight: 300;
}

.container p{
    text-align: center;
}

form{
    max-width: 100%;
    position: relative;
    width: 500px;
}

form input{
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
}

form button{
    background-color: #e056fd;
    color: #fff;
    border-radius: 50px;
    padding: 13px 30px;
    position: absolute;
    right: 2px;
    top: 2px;
}

header{
    align-items: center;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    position: relative;
}

header:after{
    background: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

header *{
    z-index: 1;
}

header h1{
    margin-bottom: 30px;
}

input:focus,
button:focus{
   outline: 0;
}

ul.songs{
    list-style-type: none;
    padding: 0;
}

ul.songs li{
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin:30px 0;
}